
ol, ul {
    margin: 0;
    padding-left: 0 !important;
}

.artists-list-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    inline-size: 100%;
    margin: 0;
    padding-left: 5px;
}

.act-schedule-buttons {
    color: antiquewhite;
    display: flex;
    list-style: none;
    justify-content: flex-start;
    padding-top: 10px;
    padding: 0.5 0 0 0.5rem;
}

.act-schedule-buttons li {
    
    margin: 0 0.2rem 0 0;
    padding: 0;
}

a {
    color: wheat; 
    text-decoration: none; 
    z-index: 10;
}

a:hover {
    color: rgba(255, 255, 255, 0.8); 
    text-decoration: underline; 
}

.gradient {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(58, 65, 95, 1) 65%, rgba(58, 65, 95, 0) 100%);
    z-index: 0;
    pointer-events: none;

}