a {
    color: wheat;
    text-decoration: none;
    z-index: 10;
}


.bands-list-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 1rem;
    z-index: -3;
}

.artist-link {
    display: flex;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.artist-description {
    display: flex;
    align-items: center;
    width: 80%;
    position: relative;
    height: 100%;
    padding-left: 10px;
    overflow: hidden;
    z-index: 1;
}



.artist-type {
    font-family: 'MetalMania', sans-serif;
    font-size: 18px;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 1;
}

.artist-name {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    margin: 0;
    font-weight: bold;
    color: aliceblue;
    text-transform: uppercase;
    z-index: 1;
    padding-left: 10px;
}

.img-container {
    align-content: flex-end;
    justify-content: center;
    width: 40%;
    height: auto;

}

.artist-image {

    object-fit: fill;
    flex-shrink: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    z-index: -1;
}

.gradient {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(58, 65, 95, 1) 65%, rgba(58, 65, 95, 0) 100%);
    z-index: 0;
    pointer-events: none;

}


@media (min-width: 1024px) {
    .bands-list-item {
        justify-content: center;
        max-width: 600px;
        min-width: 300px;
        height: 300px;
        margin: 0;
        background: rgba(19, 19, 20, 0.8) 100%;

    }

    .img-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }

    .artist-image {
        position: relative;
        height: 1000px;
        object-fit: cover;
        top: 0;
        left: 0;
        z-index: -2;
    }

    .artist-description {
        
        top: 240px;
        left: 0;
        width: 100%;
        height: 25%;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 10px;
        box-sizing: border-box;
    }

    .artist-name {
        color: white;
        font-size: 20px;
    }

    .artist-type {
        color: rgb(239, 176, 98);
        font-size: 20px;
    }

    .gradient {
        display: none;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(90deg, rgba(58, 65, 95, 1) 65%, rgba(58, 65, 95, 0) 100%);
        z-index: 0;
        pointer-events: none;
    }

    
}

@media (min-width: 500px) and (max-width: 1023px) {

    .bands-list-item {
        justify-content: center;
        max-width: 300px;
        min-width: 250px;
        height: 150px;
        margin: 0;
        background: rgba(19, 19, 20, 0.8) 100%;

    }

    .img-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }

    .artist-image {
        position: relative;
        height: 1000px;
        object-fit: cover;
        top: 0;
        left: 0;
        z-index: -2;
    }

    .artist-description {
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        padding: 10px;
        box-sizing: border-box;
        height: 25%;
        top: 7.5rem;
    }

    .artist-name {
        color: white;
        font-size: 20px;
    }

    .artist-type {
        color: rgb(239, 176, 98);
        font-size: 20px;
    }

    .gradient {
        display: none;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(90deg, rgba(58, 65, 95, 1) 65%, rgba(58, 65, 95, 0) 100%);
        z-index: 0;
        pointer-events: none;
    }
}