a {
    color: wheat;
    text-decoration: none;
    z-index: 10;
}

.band-schechdule-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 0 1px rgb(239, 176, 98);
    margin-bottom: 1rem;
    min-width: 0px;
}

.artist-link {
    display: flex;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.band-schechdule-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  min-width: 375px;
  height: 70px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 0 1px rgb(239, 176, 98);
  margin-bottom: 1rem;
}

.band-name {
    display: flex;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    z-index: 1;
}

.stage-name {
    display: flex;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    z-index: 1;
    padding-left: 10px;
}

.band-name,
.stage-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}

.schechdule-description {
  width: 40%;
  min-width: 0;
}


.lineup-img-container {
    align-content: flex-end;
    justify-content: center;
    width: 50%;

}

.artist-image {
    width: 100%;
    height: 100%;
    min-height: 50px;
    object-fit: cover;
    flex-shrink: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    z-index: -1;
}

.vertical-divider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-line {

    width: 2px;
    height: 50px;
    border-radius: 5px;
    background-color: RGB(239, 176, 98);
    margin-left: 10px;
    margin-right: 10px;
}

.horizontal-divider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.horizontal-line {

    width: 38px;
    height: 2px;
    border-radius: 5px;
    background-color: rgb(239, 176, 98);

}

.time-stamp {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px;

}

.schechdule-gradient {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(circle,
            rgba(255, 255, 255, 0.25) 50%,
            rgba(0, 0, 0, 0.25) 100%);
    z-index: 0;
    pointer-events: none;
}

@media (max-width: 400px) {
  .band-schechdule-container {
    flex-direction: row;
    width: 100%;
    max-width: 325px;
    min-width: 324px;
  }

  

  
}