

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.navbar-text{
    color: RGB(239, 176, 98);
}

.container-fluid{
    background-color: black;
    
}


.countdown {
   
    color: RGB(239, 176, 98);
    text-transform: uppercase;   
}

.countdown div {
    width: 33%;
    float: left;  
    margin-right: 1rem  ;                  
}

.countdown span {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 2.2em;
    line-height: 0.8em;
    color: #fff;
    margin: 0 0 3px 0;
    position: relative;
}

.navbar-text{
    color: RGB(239, 176, 98);
}

.icono{
    align-self: flex-end;
}



  