* {
    box-sizing: border-box;
  }


  
  
  .header {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    height: fit-content;
  }
  .wrapper {
    position: relative;
    margin-top: 36px;
    margin-bottom: 61px;
    justify-content: space-between;
  }
  
  .card-container{

  }

  .social-container{
    display: flex;
    flex-direction: column;
  }
  
  
  